html,
body {
  display: grid;
  padding:0;
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus{
  outline: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
