/*header - navigation bar*/
.navbar {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #91E3C9;
    height: 40px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    box-shadow: #5C5454;
    position: fixed;
    /*header fixed at top*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    /*fixed the overlapping of center elements while scrolling*/
    box-shadow: 0 7px 6px -6px #777;
}

.navbar a {
    color: #6B4CBD;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #8b77c3;
}

.navbar input {
    background: #D9D9D9;
    color: #6B4CBD;
    border-radius: 3px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.searchbar {
    align-items: center;
    /* Center the text inside the middle container */
    margin: 0 auto;
    /* Center the container horizontally */
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #D9D9D9;
    height: 28px;

}

.searchbar input {
    all: unset;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
}

.lensbutton {
    all: unset;
    padding-top: 3px;
    padding-right: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.lensbutton:hover {
    border: 2px solid #8b77c3;
}

.lens {
    width: 21px;
    height: 24px;

}

.loginpic {
    display: flex;
    flex-direction: row;

}

.profilepic {
    width: 28px;
    height: 29px;
    margin-right: 16px;

}

/*middle Part of our website*/

.middle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*container takes up at least the full screen*/
}

/*footer with legal content*/

.legal_content {
    display: flex;
    justify-content: left;
    background: #91E3C9;
    height: 30px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    box-shadow: 0 -7px 6px -6px #777;
}

.legal_content a,
.legal_content span {
    color: #6B4CBD;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 15px;
}

.legal_content a:hover {
    text-decoration: underline;
    color: #8b77c3;
}

.legal-text {
    margin-right: 16px;
}


/*index page: welcome and pic*/

.header {
    font-weight: 40;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;

    color: #000000;
}

.header span {
    color: #6B4CBD;
    font-weight: 400;
}

.couple {
    align-items: center;
    width: 560px;
    height: 540px;
}


/*form page: form for matchmaking*/

.form {
    padding: 20px;
    position: center;
    width: 700px;
    height: 750px;
    left: 273px;
    top: 100px;

    mix-blend-mode: darken;
    border: 4px solid rgba(107, 76, 189, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.titleform2 {
    font-size: 19px;
    font-weight: 400;
    position: top;
    text-align: center;
}

.form legend {
    color: #6B4CBD;
    font-weight: 800;
}



/*registration page: register form*/

.box {
    padding: 25px 30px;
    border-radius: 5px;
    border: 2px solid rgba(107, 76, 189, 0.5);
}

.box .titleform {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    text-align: center;
    bottom: 10px;
}

.box .titleform::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #5C5454;
}

.box form .userfullname {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #000000;*/
}

.box form .userdetails {
    position: relative;
    /*border: 1px solid #000000;*/
    padding-bottom: 10px;

}

.box .userfullname .inputbox {
    width: 50%;
    margin: 5px;
}

.box .userfullname input {
    height: 40px;
    font-size: 18px;
    background: #ebebeb;
    border-radius: 5px;
    padding-left: 7px;
}

.box .userdetails input {
    width: 98%;
    margin: 5px;
    height: 40px;
    font-size: 18px;
    background: #ebebeb;
    border-radius: 5px;
    padding-left: 7px;
}

form .birthdetails {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;

}

form .dateofbirth {
    font-size: 22px;
    font-weight: 400;
    margin: 5px;
}

form .dateinput {
    margin-left: 7px;
    padding: 5px;
    font-size: 16px;
}

form .genderdetails .gendertitle {
    font-size: 22px;
    font-weight: 400;
    margin: 5px;
}

form .genderdetails .category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.genderdetails .category .dot {
    margin-left: 15px;
}

.genderlabel {
    border: 1px solid #5C5454;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

form .registerbuttonalign {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form .registerbutton {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 18px;
    color: #6B4CBD;
    background-color: #8EE1C6;
}

form .registerbutton:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

/* about page */

.about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.about p {
    font-weight: 30;
    font-size: 30px;
    text-align: center;

}

.about span {
    color: #6B4CBD;

}

.abouttitle {
    font-weight: 30;
    font-size: 40px;
    line-height: 65px;
    position: top;
    color: #000000;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2px;
    right: 0px;
}

.abouttitle span {
    color: #6B4CBD;
    font-weight: 400;
}

.aboutboxes {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.aboutbox p {
    color: white;
    text-align: center;
}


.aboutbox {
    width: 305px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;



    background-color: rgba(107, 76, 189, 0.5);


    border-radius: 5px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



}



.aboutbox2 {
    position: absolute;
    width: 305px;
    height: 280px;
    left: 567px;
    top: 300px;
    background-color: #B5A5DE;

    padding: 25px 30px;
    border-radius: 5px;
    border: 2px solid rgba(107, 76, 189, 0.5);
}

.aboutbox3 {
    position: absolute;
    width: 305px;
    height: 280px;
    left: 989px;
    top: 300px;
    background-color: #B5A5DE;

    padding: 25px 30px;
    border-radius: 5px;
    border: 2px solid rgba(107, 76, 189, 0.5);
}

/* contact us page */

.twocolumnpage {

    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;

}

.contacttext {
    font-size: 20px;
    text-align: center;
    margin-right: 25px;
}

.contacttext h1 {
    color: #6B4CBD;
}

/*information about style of the contact form: 
first name, last name, e-mail and button are conected to registration form style*/


.yourmessage {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-bottom: 10px;

}

.messagelabel {
    font-size: 22px;
    font-weight: 400;
    margin: 5px;
}

.message {

    margin-left: 5px;
    height: 100px;
    font-size: 18px;
    background: #ebebeb;
    border-radius: 5px;
    padding-left: 7px;

}

/*Login page*/

.loginheader {
    font-weight: 40;
    font-size: 40px;
    text-align: center;
    color: #6B4CBD;
}

.logintext {
    font-size: 27px;
    text-align: center;
    margin-right: 125px;
}


.couplelog {
    align-items: center;
    width: 290px;
    height: 285px;
}




.loginbuttonalign {
    display: flex;
    justify-content: center;

}

.loginbutton {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-color: rgba(107, 76, 189, 0.5);
    width: 98%;
    height: 40px;
    font-size: 22px;

}

.loginbutton:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.forgotpw {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.forgotpw a:hover {
    cursor: pointer;
    color: #6B4CBD;
    text-decoration: underline;
}

.createnewacc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 22px;
    color: #6B4CBD;

}

.createnewacc a {
    border: 2px solid #8EE1C6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #8EE1C6;
    border-radius: 5px;
    padding: 7px;
}

.createnewacc a:hover {
    border: 2px solid rgba(107, 76, 189, 0.5);
    text-decoration: underline;
    border-radius: 5px;
    padding: 7px;
    color: white;
}


/*#dot:checked {
    border-color: #6B4CBD;
    background: #91E3C9;
}*/

/*.genderdetails .category label{
    display: flex;
    align-items: center;
}*/