.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #91E3C9;
    height: 35px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    box-shadow: #5C5454;
    position: fixed;
    /*header fixed at top*/
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    /*fixed the overlapping of center elements while scrolling*/
    box-shadow: 0 7px 6px -6px #777;
}

.navbar a {
    color: #6B4CBD;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #8b77c3;
}

.navbar input {
    background: #D9D9D9;
    color: #6B4CBD;
    border-radius: 3px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.searchbar {
    align-items: center;
    /* Center the text inside the middle container */
    margin: 0 auto;
    /* Center the container horizontally */

}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*container takes up at least the full screen*/

}

.couple {
    position: center;
    width: 560px;
    height: 530px;

}

.welcome {
    padding: 40px;
    position: center;
    width: 630px;
    height: 70px;

    /*font-style: normal;*/
    font-weight: 40;
    font-size: 55px;
    line-height: 65px;
    text-align: center;

    color: #000000;
}

.welcome span {
    color: #6B4CBD;
    font-weight: 400;
}

.form {
    padding: 50px;
    position: center;
    width: 700px;
    height: 750px;
    left: 273px;
    top: 100px;

    mix-blend-mode: darken;
    border: 4px solid rgba(107, 76, 189, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.form legend {
    color: #6B4CBD;
    font-weight: 800;
}

/*.form_button {

}*/

.form_button:hover {
    background-color: #8EE1C6;
}

.register_form {
    padding: 50px;
    background: #FFFEFE;
    mix-blend-mode: darken;
    border: 4px solid rgba(107, 76, 189, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.register_form h1 {
    text-align: center;
    color: #5C5454;
}

.register_form input {
    background: #D9D9D9;
    border-radius: 3px;
}

.legal_content {
    display: flex;
    justify-content: left;
    background: #91E3C9;
    height: 30px;
    border: 2px solid rgba(107, 76, 189, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    box-shadow: 0 -7px 6px -6px #777;

}

.legal_content a,
.legal_content span {
    color: #6B4CBD;
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 15px;
}

.legal_content a:hover {
    text-decoration: underline;
    color: #8b77c3;
}

.legal-text {
    margin-right: 16px;
}

.box {
    padding: 25px 30px;
    border-radius: 5px;
    border: 2px solid rgba(107, 76, 189, 0.5);
}

.box .titleform {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    text-align: center;
    bottom: 10px;
}

.box .titleform::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #5C5454;
}

.box form .userfullname {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #000000;*/
}

.box form .userdetails {
    position: relative;
    /*border: 1px solid #000000;*/
    padding-bottom: 10px;

}

.box .userfullname .inputbox {
    width: 50%;
    margin: 5px;
}

.box .userfullname input {
    height: 40px;
    font-size: 18px;
    background: #ebebeb;
    border-radius: 5px;
    padding-left: 7px;
}

.box .userdetails input {
    width: 97%;
    margin: 5px;
    height: 40px;
    font-size: 18px;
    background: #ebebeb;
    border-radius: 5px;
    padding-left: 7px;
}

form .genderdetails .gendertitle {
    font-size: 22px;
    font-weight: 400;
    margin: 5px;
}

form .genderdetails .category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 7px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.genderdetails .category .dot {
    margin-left: 15px;
}

#dot:checked {
    border-color: #6B4CBD;
    background: #91E3C9;
}



/*.genderdetails .category label{
    display: flex;
    align-items: center;
}*/